@model ProductsListViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create" asp-controller="Product" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <input asp-for="LongDescription" class="form-control" />
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPicture" class="control-label"></label>
                <input asp-for="ProductPicture" class="form-control" />
                <span asp-validation-for="ProductPicture" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsSaleOfTheWeek" /> @Html.DisplayNameFor(model => model.IsSaleOfTheWeek)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="InStock" /> @Html.DisplayNameFor(model => model.InStock)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ColorCategoryId" class="control-label">Color</label>
                <select asp-for="ColorCategoryId" class="form-control" asp-items="ViewBag.ColorCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageCarouselOne" class="control-label">Image one</label>
                <input asp-for="ImageCarouselOne" class="form-control" />
                <span asp-validation-for="ImageCarouselOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageCarouselTwo" class="control-label">Image two</label>
                <input asp-for="ImageCarouselTwo" class="form-control" />
                <span asp-validation-for="ImageCarouselTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}