<h2>Settings</h2>
<br />
<h3>Manage project</h3>


<h4>List of products</h4>
<a asp-action="ManageList" asp-controller="Product" >Edit</a>
<br />

<h4>Orderhistory</h4>

<a asp-action="Index" asp-controller="Order">Edit</a>


